<%- include('partials/header')%>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br><br>
        <h1>Demo</h1>
<input type="range" name="demo-slider" value="6" min="2" max="10" step="1" onchange="update_demo_label(this.value)">
<span id="label-dogs">6</span> perritos
      </div>
    </div>
  </div>
</section>
<script src="/js/demo.js"></script>


    <%- include('partials/footer')%>
