<%- include('partials/header') %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1>SELECIONE TIPO DE ANIMAL</h1>
          <div class="col-lg-6">
            <a href="/animal/horse">
              <div class="col-lg-12 animal-frame">
                <img src="/img/caballos.jpg" alt="" class="img-responsive img-selectanimal" alt="" />
                <h4> HORSE </h4>
              </div>
            </a>

              <a href="/animal/pig">
              <div class="col-lg-12 animal-frame">
                <img src="/img/cerdo.jpg" alt="" class="img-responsive  img-selectanimal"alt="" />
                <h4> PIG </h4>
              </div>
            </a>

          <a href="/animal/cat">
              <div class="col-lg-12 animal-frame">
                <img src="/img/gato.jpg" alt="" class=" img-selectanimal"alt="" />
                <h4> CAT </h4>
              </div>
          </a>
          </div>


            <div class="col-lg-6">
            <a href="/animal/dog">
              <div class="col-lg-12 animal-frame">
                <img src="/img/perro.jpg" alt="" class="img-responsive img-selectanimal"alt="" />
                <h4> DOG </h4>
              </div>
            </a>

            <a href="/animal/chicken">
              <div class="col-lg-12 animal-frame">
                <img src="/img/pollo2.jpg" alt="" class="img-responsive img-selectanimal"alt="" />
                <h4> CHICKEN </h4>
              </div>
            </a>

            <a href="/animal/lion">
              <div class="col-lg-12 animal-frame">
                <img src="/img/leon.jpg" alt="" class="img-responsive img-selectanimal"alt="" />
                <h4> LION </h4>
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
      </section>

<%- include('partials/footer')%>
